*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap;  */
    justify-content: center;
    align-items: center;

}
 
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 16px rgba(0,0,0,0.7);
    color: #b0413e;
    font-size: xx-large;
    font-weight: bolder;

}
.box:disabled{
    background-color: burlywood;
}

#resetButton{
    padding: 1rem;
    font-size: 1.25rem ;
    background-color: #b0413e;
    border-radius: 1rem;
    border-color: black;
    color: azure;
}

.popup{
    font-size:xx-large;
}

.hide{
    display: none;
}

h1 {
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #1f150f, #ee0979);
    
    /* Background clip for gradient text */
    -webkit-background-clip: text;
    background-clip: text; /* standard property */
    
    -webkit-text-fill-color: transparent; /* required for WebKit browsers */
    color: transparent; /* fallback for non-WebKit */
    
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.03); }
    100% { transform: scale(1); }
  }

  h4 {
    position: fixed; /* fixed makes it relative to the viewport */
    bottom: 10px;     /* distance from bottom of screen */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1rem;
    color: #555;
  }